
.product {
    background-color: gold;
    padding: 10px;
    &__title {
        color: blueviolet;
    }
    &__desc {
        color: red;
    }
    &__button {
        border: 2px solid red;
        border-radius: 20px;
        &--buy {
            background-color: green;
        }
        &--cancel {
            background-color: orange;
        }
    }
}

